@use '../_variables';

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: variables.$color-grey-header;
    z-index: 5;

    &__img {
        max-width: 1440px;
        margin: auto;
    }

    &__line {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: variables.$color-black;
        opacity: 5%;
    }
}

@media screen and (max-width: 1440px) {
    .header {

        &__img {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 900px) {
    .header {

        &__img {

            & img {
                position: relative;
                right: -10%;
                left: -10%;
                width: 120%;
            }
        }
    }
}