.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F9F9F9;

    &__img {
        max-width: 1440px;
        margin: auto;

        & img {
            width: 100%;
        }
    }

    &__line {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: #000000;
        opacity: 5%;
    }
}

@media screen and (max-width: 1440px) {
    .header {

        &__img {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 740px) {
    .header {

        &__img {

            & img {
                position: relative;
                right: -10%;
                left: -10%;
                width: 120%;
            }
        }
    }
}