@use '../_variables';
@use '../_mixins';

.questions {
    padding-bottom: 88px;

    &__title {
        margin-bottom: 40px;
    }

    &__subtitle {
        margin-bottom: 24px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 56px;
    }

    &__column {
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        width: 48%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 10px;
        width: 100%;
        cursor: pointer;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__img {
        width: 15px;
        transform: rotate(0deg);
        transition: transform 0.5s ease-in-out;

        &_open {
            transform: rotate(180deg);
            transition: transform 0.5s ease-in-out;
        }
    }

    &__info {
        display: none;
        padding: 10px;
        border-radius: 8px;
        background-color: variables.$color-card-advantages;
    }
}

@media screen and (max-width: 740px) {
    .questions {
        padding-bottom: 24px;

        &__title {
            margin-bottom: 25px;
        }

        &__items {
            flex-direction: column;
            row-gap: 20px;
            width: 100%;
            margin-bottom: 25px;
        }

        &__column {
            width: 100%;
        }
    }
}