@use '../_variables';
@use '../_mixins';

.registration {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: variables.$color-card-advantages;

    &__title {
        margin-bottom: 24px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        max-width: 370px;
    }

    &__img {
        margin-bottom: 28px;
        border-radius: 16px;
        background-color: variables.$color-white;
    }

    &__subtitle {
        margin-bottom: 24px;
    }

    &__text {
        margin-bottom: 28px;
    }

    &__link {
        margin-top: auto;
    }
}


@media screen and (max-width: 1200px) {
    .registration {

        &__card {
            width: 31%;
            max-width: 100%;
        }

    }

}

@media screen and (max-width: 760px) {
    .registration {

        &__title {
            margin-bottom: 16px;
        }

        &__cards {
            gap: 16px;
        }

        &__card {
            row-gap: 12px;
            width: 100%;
        }

        &__img,
        &__text,
        &__subtitle {
            margin-bottom: 0;
        }

    }
}