@use '../_variables';
@use '../_mixins';

.services {
    padding-top: 48px;
    padding-bottom: 48px;

    &__title {
        margin-bottom: 24px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        max-width: 370px;
        padding: 24px;
        border-radius: 16px;
        background-color: variables.$color-card-advantages;

        &:active,
        &:hover,
        &:focus {
            position: relative;
            transform: scale(1.01);
            transition: transform 0.3s ease;
            transform-origin: 0 0;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
        }
    }

    &__contacts {
        display: flex;
        column-gap: 24px;
        margin-top: auto;
    }

    &__link {
        margin-top: auto;
    }

    &__button {
        max-width: 120px;
    }
}

@media screen and (max-width: 1200px) {
    .services {

        &__card {
            width: 31%;
            max-width: 100%;
        }

        &__contacts {
            justify-content: space-between;
            column-gap: none;
        }

    }

}

@media screen and (max-width: 900px) {
    .services {

        &__contacts {
            flex-direction: column;
            row-gap: 16px;
        }

    }

}

@media screen and (max-width: 760px) {
    .services {
        padding-top: 25px;
        padding-bottom: 25px;

        &__title {
            margin-bottom: 16px;
        }

        &__cards {
            gap: 16px;
        }

        &__card {
            row-gap: 12px;
            width: 100%;
        }

    }
}

@media screen and (max-width: 500px) {
    .services {

        &__button {
            max-width: 100%;
        }
    }
}