@use './_variables';
@use './_mixins';

.text-header {
    @include mixins.header;
}

.text-subheader {
    @include mixins.subheader;
}

.text-main {
    @include mixins.text-main;
}

.text-main-bold {
    @include mixins.text-main-bold;
}

.text-link {
    @include mixins.text-link;
    text-decoration: underline;
    text-decoration-color: #1937FF80;

    &:active,
    &:hover,
    &:focus {
        color: variables.$color-hover;
        text-decoration-color: variables.$color-hover;
    }
}

.main-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    @include mixins.text-btn;
    background-color: variables.$color-primary;
    cursor: pointer;

    &:active,
    &:hover,
    &:focus {
        background-color: variables.$color-hover;
    }
}

@media screen and (max-width: 1200px) {
    .text-header {
        font-size: 28px;
    }

    .text-subheader {
        font-size: 20px;
        line-height: 26px;
    }

    .text-main {
        font-size: 13px;
    }

    .text-main-bold {
        font-size: 16px;
    }

    .text-link {
        font-size: 14px;
    }

}

@media screen and (max-width: 900px) {
    .text-header {
        font-size: 24px;
    }

    .text-subheader {
        font-size: 16px;
        line-height: 22px;
    }

    .text-main {
        font-size: 12px;
    }

    .text-main-bold {
        font-size: 13px;
    }

    .text-link {
        font-size: 13px;
    }

}

@media screen and (max-width: 740px) {
    .text-header {
        font-size: 20px;
    }

    .text-subheader {
        font-size: 14px;
        line-height: 20px;
    }

    .main-button {
        width: 100%;
        font-size: 12px;
        line-height: 16px;
    }

}