@use './_variables';

@mixin header {
  font: {
    family: "Golos Text", sans-serif;
    optical-sizing: auto;
    weight: 700;
    style: normal;
    size: 32px;
  }

  line-height: 120%;
  color: variables.$color-text;
  letter-spacing: 0;
}

@mixin subheader {
  font: {
    family: "Golos Text", sans-serif;
    optical-sizing: auto;
    weight: 700;
    style: normal;
    size: 24px;
  }

  line-height: 30px;
  color: variables.$color-text;
  letter-spacing: 0;
}

@mixin text-main {
  font: {
    family: "Golos Text", sans-serif;
    optical-sizing: auto;
    weight: 400;
    style: normal;
    size: 15px;
  }

  line-height: 150%;
  color: variables.$color-text;
  letter-spacing: 0;
}

@mixin text-main-bold {
  font: {
    family: "Golos Text", sans-serif;
    optical-sizing: auto;
    weight: 700;
    style: normal;
    size: 18px;
  }

  line-height: 120%;
  color: variables.$color-text;
  letter-spacing: 0;
}

@mixin text-link {
  font: {
    family: "Golos Text", sans-serif;
    optical-sizing: auto;
    weight: 400;
    style: normal;
    size: 16px;
  }

  line-height: 150%;
  color: variables.$color-primary;
  letter-spacing: 0;
}

@mixin text-btn {
  font: {
    family: "Golos Text", sans-serif;
    optical-sizing: auto;
    weight: 400;
    style: normal;
    size: 16px;
  }

  line-height: 20px;
  color: variables.$color-text-white;
  letter-spacing: 0;
}

@mixin uni-font ($weight, $color, $size, $line-height) {
  font: {
    family: "Golos Text", sans-serif;
    optical-sizing: auto;
    weight: $weight;
    style: normal;
    size: $size;
  }

  line-height: $line-height;
  color: $color;
  letter-spacing: 0;
}