* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Golos Text", sans-serif;
  font-style: normal;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}