// Globals
$color-primary: #3E9CDC;
$color-secondary: #BBBBBB;
$color-white: #FFFFFF;
$color-black: #000000;

// Blocks
$color-bg-header: #10101D;
$color-btn-hero: #2A2B30;
$color-btn-border-more: #6F6D7B;
$color-fields: #272733;
$color-bg-footer: #3D4050;
$color-footer-icons: #C3C3C3;