// Globals
$color-primary: #1937FF;
$color-secondary: #F0F4FF;
$color-text: #282725F0;
$color-text-white: #FFFFFFF0;
$color-white: #FFFFFF;
$color-black: #000000;
$color-hover: #1a34e8;

// Blocks
$color-grey-header: #F9F9F9;
$color-red-hero: #FF4702;
$color-bg-hero: #69CDFF;
$color-advantages-card: #F0F4FF;
