// Globals
$color-primary: #1937FF;
$color-secondary: #F0F4FF;
$color-text: #282725F0;
$color-text-white: #FFFFFFF0;
$color-white: #FFFFFF;
$color-black: #000000;
$color-hover: #1a34e8;

// Blocks
$color-grey-header: #F9F9F9;
$color-red-hero: #FF4702;
$color-bg-hero: #69CDFF;
$color-card-advantages: #F0F4FF;
$color-bg-footer: #F2F2FA;
$color-link-footer: #343332;
$color-line-footer: #18171621;
$color-bottom-footer: #423E38A6;