//Глобальные стили
@use "_setting";
@use "_variables";
@use "_mixins";
@use "_components";

//Блоки
@use "blocks/_header";
@use "blocks/_hero";
@use "blocks/_advantages";
@use "blocks/_shipment";
@use "blocks/_rates";
@use "blocks/_payment";
@use "blocks/_registration";
@use "blocks/_services";
@use "blocks/_action";
@use "blocks/_questions";
@use "blocks/_footer";

//Шрифт
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');